.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: auto;
    margin: 1rem auto;
}

.input-container {
    display: flex;
    
}

.input-container input {
    background-color: #161412;
    color: #D9D9D9;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 24px 0 0 24px;
    font-size: 1.5rem;
    font-weight: normal;
    max-width: 7rem;
}

.input-container input::placeholder {
    color: #757575;
}

.input-container button {
    border-radius: 0 24px 24px 0;
    padding: 0;
    width: 60px;  /* To match the hight of the other buttons despite being larger symbols */
    height: 60px; /* To match the hight of the other buttons despite being larger symbols */
}

.natural {
    background-color: #43338a;
    color: #757575;
}